
* {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: repeat(21,1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(auto, 70%);
    justify-items: stretch;/* start center end */
    min-width: 1000px;

    align-items: stretch;/* baseline flex-start flex-end stretch center */

    background: rgba(50,21,158,1);
    background: -moz-linear-gradient(-45deg, rgba(50,21,158,1) 0%, rgba(255,10,177,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(50,21,158,1)), color-stop(100%, rgba(255,10,177,1)));
    background: -webkit-linear-gradient(-45deg, rgba(50,21,158,1) 0%, rgba(255,10,177,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(50,21,158,1) 0%, rgba(255,10,177,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(50,21,158,1) 0%, rgba(255,10,177,1) 100%);
    background: linear-gradient(135deg, rgba(50,21,158,1) 0%, rgba(255,10,177,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32159e', endColorstr='#ff0ab1', GradientType=1 );
}



.label1, .label2 {
    font-weight: bold;
    color: white;
    width: 100%;
    height: 100%;
}

.listHeader {
    margin-top: 15px;
    grid-column: 18 / span 4;
    grid-row: 1;
}

.celular {
    grid-column: 13 / span 4;
    grid-row: 2 / span 9;
}

.circulo {
    grid-column: 1 / span 2;
	grid-row: 9 / span 2;
}

.eslogan {
    grid-column: 5 / span 8;
    grid-row: 4 / span 3;
}

.google { 
    grid-column: 5 / span 3;
    grid-row: 7 / span 2;
}

.frame {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    width: 1000px;
    margin: 50px auto;
}

.box {
    width: 250px;
}

.boxTitle {
    width: 100%;
    text-align: center;
    margin: auto;
    color: #1C0C59;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.contenedor {
    margin: 150px auto;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 55px;
}

.reward {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 131px;
}

.boxReward {
    padding-top: 70px;
}

.rewardDesc {
    margin-top: 40px;
}

.rewardContainer {
    background-color: lightgray;
    padding: 70px 0;
}

.leaguesBox {
    display: grid;
    grid-template-columns: repeat(14,1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(auto, 70%);
    justify-items: stretch;/* start center end */
    min-width: 1000px;

    align-items: stretch;/* baseline flex-start flex-end stretch center */
}

.leagueIcon {
    width: 100px;
    height: 100px;
}

.leagueDesc {
    min-width: 400px;
    max-width: 600px;
}

.leagueTitle {
    margin: 70px auto;
}

.leagueIconBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.leagueLeftBox {
    grid-column: 2 / span 6;
}

.leagueRightBox {
    grid-column: 8 / span 6;
}




.celular > img, .circulo > img {
    width: 100%;
    height: 100%;
}



.eslogan > .label1 {
    font-size: 40px;
}

.eslogan > .label2 {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}



.google > a > img {
    width: 100%;
    height: 100%;
}



.listHeader > ul {
    margin: 0;
    padding: 0;
}

.listHeader > ul > li {
    display: inline;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 12px;
}

li > a:hover {
    color: lightgrey;
}


.boxReward > label {
    margin: 10px auto;
}

.icon > label, .rewardDesc > label {
    font-size: 20px;
    font-weight: bold;
}

.leagueIcon > img {
    height: 100%;
}

.leagueDesc > label {
    font-weight: bold;
}